%h1
  All Users

%table
  %tr
    %th Name
  - for user in @users
    %tr
      %td
        = link_to h(user.login), resource(user)
      %td
        = link_to('Edit', resource(user, :edit)) if user == session.user

= link_to 'New', resource(:users, :new)
