@import compass/reset.sass
@import compass/utilities.sass
@import compass/layout.sass

!offwhite = #dedede

body
  :background-color #182F42
  :font-family 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Verdana, Helvetica, sans-serif

h1, h2
  :font-family "Trebuchet MS", Verdana, Helvetica, sans-serif

h1
  :font-size 2em
  :font-weight bold
  :line-height 1.3em

h2
  :font-size 1.5em

p
  :margin-bottom 1em

a
  :color #3E698D
  &:visited
    :color #405567
  &:hover
    :color #839569

ul
  :padding-left 1em

acronym
  :color #333
  :border-bottom 1px dashed silver

.fleft
  :float left
.fright
  :float right

#root

  #header
    :background-color #3E698D
    :padding 0.5ex
    +clearfix
    a
      :color = !offwhite
      &:hover
        :color white

  #container
    :padding 1ex
    
    #content
      :margin-top 1ex
      :padding 1ex
      :background-color #ededed
      :color black
      :line-height 1em
      
      div.details
        :font-style italic
        :font-size 0.65em

      div.document
        :font 105%/1.5 Cambria, Georgia, serif

+sticky-footer( 2em )

#footer
  :background-color #839569
  a:hover
    :color #182F42
