%p
  = text_field :title, :label => 'Title', :size => 75
%p
  ~ text_area :body, :label => 'Body', :rows => 20, :cols => 90
%p
  = text_field :tag_list, :label => 'Tags', :size => 50
  %br
  = text_field :category_list, :label => 'Categories', :size => 50
