-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%h1= show_diff(h(@version.title), h(@document.title))

:textile
  #{show_diff(h(@version.body), h(@document.body))}

= partial 'common/versions', :model => @document

= link_to 'Back', resource(group, @category, @document)
