-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%h1= show_diff(@version.title, @document.title)

:textile
  #{show_diff(@version.body, @document.body)}

= partial 'common/versions', :model => @document

= link_to 'Back', resource(group, @category, @document)
