%p
  %a.pin{:href => '#'} pin
  %a.close{:href => '#'} close
%ul.categories
  - for category in categories
    %li
      = link_to h(category.name), resource(@group, category), :title => category.name
      = link_to 'Edit', resource(@group,  category, :edit)
