%h1== Artifacts in #{@category.name}

-# TODO replace group with @category.group when DM works
- group = Group.get @category.group.id

%table
  %tr
  - for artifact in @artifacts
    %tr
      %td
        = link_to 'Show', resource(group, @category, artifact)
      %td
        = link_to 'Edit', resource(group, @category, artifact, :edit)

= link_to 'New', resource(group, @category, :artifacts, :new)
